 li.card-country {
    background-color: #dfd3c3;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: relative;
}

 li.card-country:hover { 
    background-color: #c7b198;
}

li.card-country img{
    width: 60px;
    height: 60px;
}

li.card-country span{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #596e79;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}