.countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countries ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    margin-right: 10px;
    
}

